* {
  font-family: 'Open Sans';

}

img {
  height: 100%;
  width: 13%;
  cursor: pointer;
}

body {
  background-color: #EAEAF4;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  display: flex;
}

aside {
  background-color: #1F1F3D;
  height: 100%;
  width: 25%;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 75%;
}

form {
  background-color: #A9AAE2;
  height: 39%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  margin-left: 2px;
}

input {
  height: 42%;
}

.body-input {
  height: 100%;
  resize: none;
}

.save-btn {
  width: 50%;
  height: 12%;
  border-radius: 3px;
  background-color: #353567;
  border: none;
  color: #E9E9F3;
  font-size: 1.5em;
  font-weight: bold;
  margin: 3%;
  cursor: pointer;
}

.inactive-save-btn {
  background-color: slateblue;
  cursor: not-allowed;
}


div {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}

.title-div {
  height: 23%;
  margin-top: 3%;
}

.body-div {
  height: 27%;
}

.search-div {
  height: 11%;
  margin-bottom: 3%;
  position: relative;
  display: flex;
  background-color: #353567;
  justify-content: center;
  border-radius: 2px;
}

.search-icon {
  position: absolute;
  height: 55%;
  width: auto;
  margin-left: 2%;
  background-color: #353567;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.search-input {
  height: 100%;
  margin-left: 10%;
}

section {
  height: 61%;
  display: flex;
  flex-wrap: wrap;
}

article {
  height: 43%;
  width: 30%;
  background-color: #FFFFFF;
  border: 2px solid #1F1F3D;
  margin: 2.5% 0 0 2.5%;
  font-size: 1.75em;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.top-card-bar {
  display: flex;
  justify-content: space-between;
  height: 13.6%;
  background-color: #1F1F3D;
  border-bottom: 2px solid #1F1F3D;
}

.card-text {
  width: 90%;
  height: 72%;
  font-size: 1em;
}

h4 {
  margin: 5%;
}

p {
  margin: 0 5% 5% 5%;
}

.bottom-card-bar {
  color: #fff;
  height: 13.6%;
  background-color: #5356A4;
  border-top: 2px solid #1F1F3D;
  font-size: 1.1em;
}

h6 {
  margin: 0;
  align-self: center;
}

.hidden {
  display: none;
}

.line {
  border-top: 1px solid #5356A4;
}

.aside-btn {
  background-color: #5356a4;
  color: #e9e9f3;
  letter-spacing: 1px;
  margin: 3.5% 5% 9% 5%;
  cursor: pointer;
  padding: 3% 3% 2%;
  width: 90%;
  height: 4.5%;
  font-size: 1.65em;
  font-weight: bold;
  border-radius: 2px;
  border: none;
}

.ideabox-title {
  color: #e9e9f3;
  font-weight: bold;
  letter-spacing: .75px;
  margin: 8% 7% 6.5%;
  font-size: 1.65em;
}

.words {
  color: #bfbfdd;
  margin: 8.5% 8% 7%;
  letter-spacing: .75px;
  font-size: 1.3em;
}
