* {
  font-family: 'Open Sans';

}

img {
  height: 45%;
  width: 10%;
  border: 1px solid blue;
}

body {
  background-color: #EAEAF4;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  display: flex;
  /* border: 3px solid red; */
}

aside {
  background-color: #1F1F3D;
  height: 100%;
  width: 25%;
}

main {
  display: flex;
  flex-direction: column;
  border: 1px solid green;
  height: 100%;
  width: 75%;
}

form {
  border: 3px solid orange;
  background-color: #A9AAE2;
  height: 39%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
}

input {
  height: 40%;
}

.body-input {
  height: 100%;
  resize: none;
}

.save-btn {
  width: 50%;
  height: 12%;
  background-color: #353567;
  border: none;
  color: #E9E9F3;
  font-weight: bold;
  margin: 3%;
}


div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

.title-div {
  margin-top: 8px;
  height: 23%;
}

.body-div {
  height: 27%;
  margin-top: 13px;
}

.search-div {
  height: 11%;
  margin-bottom: 25px;
  position: relative;
  display: flex;
}

.search-icon {
  position: absolute;
  height: 92%;
  background-color: #353567;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.search-input {
  width: 87%;
  height: 100%;
  margin-left: 10%;
}
/*Take a look at the height of the elements within the form page. Adjust div heights so that we can properly adjust the body input height. Add margins where needed to divs to match the comp more closely*/

section {
  border: 2px solid red;
  height: 61%;
  display: flex;
  flex-direction: column;
}

article {
  border: 2px solid black;
}
